# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### C template
# Object files
*.o
*.ko
*.obj
*.elf

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# by hand

*.Po
*.diff

Makefile
*.dirstamp
*.deps
*.in
*~
.in_place
.project
.cproject
aclocal.m4
autom4te.cache/
auxprogs/getoff-amd64-linux
auxprogs/valgrind-di-server
auxprogs/valgrind-listener
cachegrind/cachegrind-amd64-linux
cachegrind/cg_annotate
cachegrind/cg_diff
cachegrind/cg_merge
callgrind/callgrind-amd64-linux
callgrind/callgrind_annotate
callgrind/callgrind_control
config.h
config.log
config.status
configure
coregrind/link_tool_exe_darwin
coregrind/link_tool_exe_linux
coregrind/valgrind
coregrind/vgdb
default.supp
drd/scripts/download-and-build-splash2
drd/drd-amd64-linux
glibc-2.X.supp
exp-bbv/exp-bbv-amd64-linux
exp-dhat/exp-dhat-amd64-linux
exp-sgcheck/exp-sgcheck-amd64-linux
helgrind/helgrind-amd64-linux
lackey/lackey-amd64-linux
massif/massif-amd64-linux
massif/ms_print
memcheck/memcheck-amd64-linux
memcheck/tests/vbit-test/vbit-test
none/none-amd64-linux
perf/vg_perf
pmemcheck/pmemcheck-amd64-linux
stamp-h1
tests/vg_regtest
valgrind.pc
valgrind.spec
VEX/pub/libvex_guest_offsets.h
